/* Chat List Container */
.chatList {
    /* Search */
    .search {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;

        /* Search Bar */
        .searchBar {
            flex: 1;
            background-color: rgba(17, 25, 40, 0.5);
            display: flex;
            align-items: center;
            gap: 20px;
            border-radius: 10px;
            padding: 10px;

            /* Search Input */
            input {
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
                flex: 1;
            }

            /* Search Icon */
            img {
                width: 20px;
                height: 20px;
            }
        }

        /* Add Button */
        .add {
            width: 36px;
            height: 36px;
            background-color: rgba(17, 25, 40, 0.5);
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}
